#message-area-container {
  padding: 0.5rem 0 4rem;
}

#message-area {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 0.5rem;
}
.message {
  padding: 0.5rem;
  border-top: 1px solid #0001;
}
.message:first-child {
  border: none;
}

.message-text {
  margin: 0 0 0.75rem;
}

.message-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0005;
  font-size: 0.8rem;
}

#input-area {
  height: 3.5rem;
  width: 100%;
  padding: 0.5rem 0;
  position: fixed;
  bottom: 0;
  z-index: 3;
  background: #FFF;
}

#input-area > div {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#message-input {
  height: 2.5rem;
  width: calc(100% - 5rem);
  padding: 0.5rem;
  border: 2px solid #0002;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  transition-duration: 200ms;
}
#message-input:focus {
  border: 2px solid #0005;
}

#submit-button {
  height: 2.5rem;
  width: 5rem;
  background: #0002;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition-duration: 200ms;
}